

.navbar {
  display: flex;
  justify-content: center; 

}


body{
    background-color: #1a1a1a !important;
}

.abu-abu{ background-color: #1a1a1a}

.hilang{
    display: none ;
}

.loader-wrapper {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 8px solid #ccc;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

